.single {
  display: flex;
  align-items: center;
  width: 90%;
  height: 6rem;
  font-family: 'Helvetica Neue', sans-serif;
  color: white;
}

.single:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.single:active {
  background-color: rgba(255, 255, 255, 0.5);
}

.thumb {
  margin: 0 1rem;
  height: 5rem;
  width: 7rem;
}