.single {
  display: flex;
  align-items: center;
  width: 90%;
  height: 10rem;
  font-family: 'Helvetica Neue', sans-serif;
  color: white;
}

.single:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.single:active {
  background-color: rgba(255, 255, 255, 0.5);
}

.thumb {
  margin: 0 1rem;
  height: 9rem;
  width: 12.6rem;
}

.title, .channel, .description, .date {
  margin: 0.3rem;
}

.title {
  font-size: 1.1rem;
  font-weight: 900;
}

.channel {
  font-size: 1rem;
  font-weight: 300;
}

.description {
  font-size: 0.9rem;
  font-weight: 300;
}

.date {
  font-size: 0.9rem;
  font-weight: 100;
}