

.button3{
    display: flex;
    background-color: black;
   color: white;
   font-size: 1rem;
   padding:0.5rem 0.5rem;
   border-radius:2rem;
   margin: 1rem;
   cursor: pointer;
   align-self: flex-end;
   text-decoration: none;
 
 }

 .button3:hover {
    transform: scale(1.2);
    transition-duration: 0.5s;
}

.appbar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    /*Adicione aqui o estilo desta classe*/
    height: 20rem;
    margin: 1rem;
    border: none;
    align-self: center;
    justify-content: center;
  
    border-radius: 2rem;
    
  }

.link{
    text-decoration: none;
}

.superLogo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-bottom: 2rem;
}

.ytLogo {
    height: 20rem;
}

h1 {
    color: aliceblue;
    font-size: xx-large;
    font-weight: bolder;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-style: italic;
}

p {
    color: azure;
    font-family: "HelveticaNeue-Light";
    font-size: larger;
    margin-left: 0rem;
    margin: 0.15rem;
}

.container{
    display: flex;
    justify-content: center;
}

.phrase {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.there {
    font-style: italic;
}