.player {
  height: 30rem;
  width: 50rem;
}

.desc{
  color: white;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  width: 50rem;
}

li{
  margin: 0.5rem;
  align-self: flex-start;
}

.title {
  font-size: 1.5rem;
  font-weight: 800;
}

.channel {
  font-size: 1.2rem;
  font-weight: 300;
}

.description {
  font-size: 0.9rem;
  font-weight: 300;
}

.date {
  font-size: 0.9rem;
  font-weight: 100;
}